#/public/hot
#/public/css/
#/public/js/
#/storage/*.key
/node_modules
/vendor
/storage/app/public/livewire-tmp
/storage/app/public/practices
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
