/public/css/*
/public/js/*
/node_modules
/vendor
/storage/**
/storage/app/public/livewire-tmp
/storage/app/public/practices
/storage/app/public/folder
/storage/app/public/price_lists
/storage/app/public/attachments
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
