// Body
$bg-body: #f2f2f2;

// Typography
$font-family: "acumin-pro";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #f0b411;
$red: #e4003c;
$logo-green: #06b13e;
$RedWine: #910d38;
$text: #211e16;
$white: #ffffff;
$light-grey: #bbbcbc;
$bg-grey: #615f5f;
$bg-md-grey: #818387;
$bg-lgt-grey: #dbdcdb;
$bg-bt-green: #00cfb4;
$bg-bt-black: #383d3f;
$bg-bt-red: #e4003c;
$bg-bt-yellow: #ffd444;
$bg-bt-blue: #61a4d7;
